* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    background: white;
    position: relative;
}

.head_area {
    background: darkgrey;
    height: 150px;
    position: relative;
}

a:hover {
    color:  white;
}

a:visited {
    color: white;
}

a:link {
    color: #212121;
}

a:active {
    color: yellow;
}

a {
    text-decoration: none;
}

.title {
    position: relative;
    width: 400px;
    margin: 0 auto;
    padding: 25px 0;
}
.title span{
    position: absolute;
    left: 30%;
    top: 35%;
    font-size: 36px;
}

.inline_m{
    display: inline;
}
.title_detail{
    width: 50%;
    margin: 0 auto;
}

.total{
    position: relative;
    margin: 0 auto;
}

.under_body{
    position: relative;
    margin: 0 10px;

}

.p_title{
    margin: 0 auto;
    width: 300px;
    padding: 30px;
    position: relative;
}
.p_title span{
    font-size: 30px;
    width: 600px;
    margin: 0 auto;
    text-shadow: 1px 1px 1px #000000;
}

.content_container{
    margin: 0 auto;
    width: 800px;
    padding: 0 0 20px 30px;
}

.content_container p{
    line-height: 1.5em;
}

.content_title{
    position: relative;
    width: 800px;
    margin: 0 auto;
    padding: 0 0 20px 30px;
}
.content_title span{
    font-size: 32px;
    text-shadow: 1px 1px 1px #000000;
}

.container_area{
    width: 100%;
    position: relative;
    border: 3px solid green;
}

.container_area span{
    color: white;
    font-weight: bold;
    font-size: 12px;
    background: green;
}
.container_area p{
    width: 1100px;
    margin: 0 auto;
    padding: 10px 10px;
}

.span_head{
    position: absolute;
    left: 0;
    top: 0;
}
.span_foot{
    position: absolute;
    right: 0;
    bottom: 0;
}

.button_area{
    margin: 0 auto;
    width: 600px;
    position: relative;
}
.button_inline_left{
    background: linear-gradient(to bottom, rgba(0,0,255,0.7), rgba(0,0,255,0.3));
    border-radius: 3px;
    padding: 5px 20px;
    display: inline-block;
    box-shadow: 2px 2px 2px #333333;
    margin-left: 25%;
    height: 100%;
}
.button_inline_right{
    padding: 5px 20px;
    display: inline-block;
    height: 100%;
    margin-left: 60px;
    box-shadow: 2px 2px 2px #333333;
    background: linear-gradient(to bottom, rgba(0,0,255,0.7), rgba(0,0,255,0.3));
    border-radius: 3px;
}
.button_inline_right a{
    padding: 5px;
}

.button_inline_left a{
    padding: 5px;
}
.button_inline_left a:hover{
    color: white;

    text-shadow: 1px 1px 1px white;
}
.button_inline_right a:hover{
    color: white;
    text-shadow: 1px 1px 1px white;
}
.page_area{
    margin: 0 auto;
    width: 100px;
    padding: 10px;
}

.footer{
    background: grey;
}
.footer span{
    width: 200px;
    margin: 0 auto;
    display: block;
    padding: 10px;
}


