* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #64c6f6;
}

.container {
    background-color: white;
    width: 600px;
    margin: 100px auto;
    position: relative;
    border-radius: 5px;
    border-color: white;
}

.content {
    padding: 40px 20px 20px 20px;
    text-align: center;
    color: #64c6f6;
    font-size: 36px;
    font-weight: bold;
}

.author_content {
    color: #64c6f6;
    font-size: 20px;
    text-align: right;
    padding: 20px 20px;
}

.btn_container {
    margin: 20px auto;
    background-color: transparent;
    position: relative;
    padding: 10px 20px 20px 20px;
}

.btn_icon {
    display: inline;
    height: 40px;
    width: 40px;
    margin-left: 20px;
    background-color: #64c6f6;
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn_next {
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    color: white;
    background-color: #64c6f6;
    padding: 10px 20px;
    margin-right: 30px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.img_icon {
    height: 20px;
    width: 20px;
}

#next_content {
    color: white;
}